*{
    margin: 0;
    padding: 0;
}
.wrap{
    position: relative;
    width: 600px;
    margin: 0 auto;
    
}
.wrap h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.wrap p{
    position: absolute;
    left: 60%;
    font-size: 20px;
}
.wrap input{
    width: 50px;
    height: 30px;
    background: skyblue;
    color: #fff;
    font-size: 12px;
    border:1px silid skyblue;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
#Pause{
    margin-left: 18%;
}
#snake_map{
    margin:0 auto;
}
.row{
    height: 20px;
}
.col{
    height: 20px;
    width: 20px;
    box-sizing:border-box;
    border:1px solid lightgrey; 
    float:left;
}
.activeSnake{
    background:black;
}
.egg{
    background:red;
}